<!-- app/templates/auth/login.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="login-bg">
    <div class="content-section">
      <br/><br/>
      {{ utils.flashed_messages() }}
      <br/>
      <div class="center">
        <h1 style="color:#3db2e1;">Login to your account</h1>
        <br/>
        {{ wtf.quick_form(form) }}
          <br><br><br><br><br><br><br>
      </div>
    </div>
</div>
{% endblock %}