 {% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
        Schedule
{% endblock %}
 {% block style %}
 {% endblock %}
{% block body %}
<div class="mainbg">
   <div class="content-section">
     <div class="inner">
        <div class="center">
        <h1 class='spacyan' style="text-align:center;">Schedule</h1>
                      <hr class="intro-divider">
            <br>
                 <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                    <th bgcolor="#6BACC1">Day</th>
                    <th bgcolor="#6BACC1">Maspero Morning</th>
                    <th bgcolor="#6BACC1">Maspero Night</th>
                    <th bgcolor="#6BACC1">Agouza Morning</th>
                    <th bgcolor="#6BACC1">Agouza Night</th>
                    </tr>
                  </thead>
                     <tr>
                         <th bgcolor="#6BACC1">Saturday</th>
                         <td>Abbas-Mahmoud</td>
                         <td>Mina</td>
                         <td>Michal-Kadry</td>
                         <td>Atef</td>
                     </tr>
                      <tr>
                         <th bgcolor="#6BACC1">Sunday</th>
                         <td>Mina</td>
                         <td>Abbas</td>
                         <td>Michal</td>
                         <td>Kadry</td>
                     </tr>
                     <tr>
                         <th bgcolor="#6BACC1">Monday</th>
                         <td>Galal-Kadry</td>
                         <td>Ramy</td>
                         <td>Abbas-Michal</td>
                         <td>Mina</td>
                     </tr>
                     <tr>
                         <th bgcolor="#6BACC1">Tuesday</th>
                         <td>Ramy</td>
                         <td>Abbas</td>
                         <td>Galal-Michal</td>
                         <td>Mahmoud-Kadry</td>
                     </tr>
                     <tr>
                         <th bgcolor="#6BACC1">Wednesday</th>
                         <td>Abbas</td>
                         <td>Mahmoud</td>
                         <td>Ramy</td>
                         <td>Galal</td>
                     </tr>
                     <tr>
                         <th bgcolor="#6BACC1">Thursday</th>
                         <td>Mina</td>
                         <td>Ramy</td>
                         <td>Galal-Mahmoud</td>
                         <td>Michal</td>
                     </tr>
                     <tr>
                         <th bgcolor="#6BACC1">Friday</th>
                         <td>Ramy</td>
                         <td>Mahmoud</td>
                         <td>Mina</td>
                         <td>Galal-Kadry</td>
                     </tr>
                 </table>


        </div>
      </div>
   </div>
</div>
{% endblock %}