 {% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_studios %}
        Add Studios
    {% else %}
        Edit Studios
    {% endif %}
{% endblock %}
{% block body %}
<div class="mainbg">
  <div class="content-section">
      <div class="inner">
        <div class="center">
            {% if add_studios %}
                <h1>Add Studios</h1>
            {% else %}
                <h1>Edit Studios</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
  </div>
</div>
{% endblock %}