<!-- app/templates/admin/lives/lives.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Lives{% endblock %}
{% block body %}

<div class="intro-lives" >
    <div class="content-section">
    <!--<div class="middle">-->
        <br/>

      <div class="inner">
           <form class="search" method ="GET" action="lives/search">
               <input type="text" name="query" id="query" placeholder="Search..">
           </form>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 class="spared" style="text-align:center; color: #e7c1be;">Lives for Today</h1>
        {% if lives %}
          <hr class="intro-divider">
            <table class="table table-striped table-bordered">
              <thead>
               <tr>
                  <th width="15%"> Date </th>
                  <th width="13%"> Client </th>
                  <th width="7%"> Service Provided </th>
                  <th width="13%"> Location </th>
                  <th width="7%"> S GMT </th>
                  <th width="7%"> E GMT </th>
                  <th width="13%"> Satellite </th>
                  <th width="9%"> Uplink </th>
                  <th width="9%"> Downlink </th>
                  <th width="7%"> Symbol Rate </th>
                  <th width="5%"> FEC </th>
                  <th width="13%"> Modulation </th>
                  <th width="13%"> Access
                  <th width="13%"> Reg Code </th>
                  <th width="13%"> Reference </th>
                  <th width="13%"> Actual S Time </th>
                  <th width="13%"> Actual E Time </th>
                  <th width="13%"> Note </th>
                  {% if current_user.is_admin or current_user.is_sat %}
                      <th width="15%"> Edit </th>
                      <th width="15%"> Delete </th>
                  {% elif current_user.is_eng %}
                     <th width="15%"> Eng Edit </th>
                  {% endif %}
               </tr>
              </thead>
              <tbody>
              {% for lives in lives %}
                <tr>
                    <td>{{ lives.date }}  </td>
                    <td>{{ lives.company }} </td>
                    <td> {{ lives.service_provided }} </td>
                    <td style="color:red;"><font size="3"> {{ lives.location }} </font></td>
                    <td> {{ lives.time_gmt_s }}  </td>
                    <td> {{ lives.time_gmt_e }}  </td>
                    <td> {{ lives.sat }}  </td>
                    <td> {{ lives.ul }}  </td>
                    <td> {{ lives.dl }}  </td>
                    <td> {{ lives.sr }}  </td>
                    <td> {{ lives.fec }}  </td>
                    <td> {{ lives.mod }}  </td>
                    <td> {{ lives.access }}  </td>
                    <td> {{ lives.reg_code }} </td>
                    <td> {{ lives.reference }}  </td>
                    <td> {{ lives.actual_s_time }}  </td>
                    <td> {{ lives.actual_e_time }}  </td>
                    <td> {{ lives.note }}  </td>
                    {% if current_user.is_admin or current_user.is_sat %}
                        <td>
                            <a href="{{ url_for('its.edit_lives', id=lives.id) }}">
                                <i class="fa fa-pencil"></i> Edit
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('its.delete_lives', id=lives.id) }}">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    {% elif current_user.is_eng %}
                        <td>
                            <a href="{{ url_for('its.eng_lives', id=lives.id) }}">
                                <i class="fa fa-pencil"></i> Eng Edit
                            </a>
                        </td>
                    {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No Lives have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('its.add_lives') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Lives
          </a>
        </div>
      </div>

</br></br></br></br></br></br></br></br></br></br></br>
    <div style="float: center">
        <h3 class="spa" ><button class="button2017" style="vertical-align:middle"><a href="{{ url_for('its.list_archived_lives') }}"><span style="color:red">Archive</span></a></button></h3>
    </div>
    <div style="float: right">
        <table class="table table-striped table-bordered" style="width:15%">
          <tr>
            <th style="color:red; border:1px solid red;">Channel</th>
            <th style="color:red; border:1px solid red;">IBB</th>
          </tr>
          <tr>
            <td>Sat</td>
            <td>E10A D10</td>
          </tr>
           <tr>
            <th>U/L</th>
            <th>13961.425V</th>
          </tr>
          <tr>
            <th>D/L</th>
            <th>11661.425H</th>
          </tr>
           <tr>
            <th>S/R</th>
            <th>2.333</th>
          </tr>
          <tr>
            <th>4PSK</th>
            <th>3/4</th>
          </tr>
        </table>
    </div>
    <div style="float: right">
        <table class="table table-striped table-bordered" style="width:15%">

          <tr>
            <th style="color:red; border:1px solid red;">Channel</th>
            <th style="color:red; border:1px solid red;">P</th>
          </tr>
          <tr>
            <td>Sat</td>
            <td>E16A</td>
          </tr>
           <tr>
            <th>U/L</th>
            <th>14216.8H</th>
          </tr>
          <tr>
            <th>D/L</th>
            <th>12716.8V</th>
          </tr>
           <tr>
            <th>S/R</th>
            <th>2.4</th>
          </tr>
          <tr>
            <th>8PSK</th>
            <th>3/4</th>
          </tr>
        </table>
    </div>
    <div style="float: right">
       <table class="table table-striped table-bordered" style="width:15%">
            <tr>
            <th style="color:red; border:1px solid red;">Channel</th>
            <th style="color:red; border:1px solid red;">Q</th>
          </tr>
          <tr>
            <td>Sat</td>
            <td>E16A</td>
          </tr>
           <tr>
            <th>U/L</th>
            <th>14219.8H</th>
          </tr>
          <tr>
            <th>D/L</th>
            <th>12719.8V</th>
          </tr>
           <tr>
            <th>S/R</th>
            <th>2.4</th>
          </tr>
          <tr>
            <th>8PSK</th>
            <th>3/4</th>
          </tr>
       </table>
    </div>
    </div>

</div>
{% endblock %}
