<!-- app/templates/admin/reports/reports.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Sng Orders{% endblock %}
{% block body %}
<div class="mainbg">
  <div class="content-section">
      <div class="inner">
        <br><br><br>
        {{ utils.flashed_messages() }}
        <br/>
            <h1 class='spacyan' style="text-align:center;">SNG Orders</h1>
        {% if sngorders %}
          <form class="search" method ="GET" action="sngorders/search">
             <input type="text" name="query" id="query" placeholder="Search..">
             </form>
          <hr class="intro-divider">
           <button class="accordion">Jan</button>
           <div class="panel">
                 <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="13%"> Date </th>
                        <th width="13%"> Client </th>
                        <th width="17%"> Engineer </th>
                        <th width="13%"> Location</th>
                        <th width="13%"> Reference </th>
                        <th width="13%"> S Time GMT </th>
                        <th width="13%"> E Time GMT </th>
                        <th width="13%"> Camera Man </th>
                        <th width="13%"> Technician </th>
                        <th width="13%"> Driver </th>
                        <th width="13%"> Camera </th>
                        <th width="13%"> Car </th>
                        <th width="13%"> Note </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                      </tr>
                    </thead>
                    <tbody>

            {% for sngorders in sngorders %}
              {% if sngorders.date.startswith('2017-01') %}
                <tr>
                    <td> {{ sngorders.date }}  </td>
                    <td> {{ sngorders.company }} </td>
                    <td> {{ sngorders.engineer }} </td>
                    <td> {{ sngorders.location }}  </td>
                    <td> {{ sngorders.reference }}  </td>
                    <td> {{ sngorders.time_gmt_s }}  </td>
                    <td> {{ sngorders.time_gmt_e }}  </td>
                    <td> {{ sngorders.cameraman }}  </td>
                    <td> {{ sngorders.tech }}  </td>
                    <td> {{ sngorders.driver }}  </td>
                    <td> {{ sngorders.camera }}  </td>
                    <td> {{ sngorders.car }}  </td>
                    <td> {{ sngorders.note }}  </td>
                    <td>
                        <a href="{{ url_for('its.edit_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('its.delete_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
                    </tbody>
                  </table>
                 </div>
          <button class="accordion">Feb</button>
           <div class="panel">
                 <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="13%"> Date </th>
                        <th width="13%"> Client </th>
                        <th width="17%"> Engineer </th>
                        <th width="13%"> Location</th>
                        <th width="13%"> Reference </th>
                        <th width="13%"> S Time GMT </th>
                        <th width="13%"> E Time GMT </th>
                        <th width="13%"> Camera Man </th>
                        <th width="13%"> Technician </th>
                        <th width="13%"> Driver </th>
                        <th width="13%"> Camera </th>
                        <th width="13%"> Car </th>
                        <th width="13%"> Note </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                      </tr>
                    </thead>
                    <tbody>

            {% for sngorders in sngorders %}
              {% if sngorders.date.startswith('2017-02') %}
                <tr>
                    <td> {{ sngorders.date }}  </td>
                    <td> {{ sngorders.company }} </td>
                    <td> {{ sngorders.engineer }} </td>
                    <td> {{ sngorders.location }}  </td>
                    <td> {{ sngorders.reference }}  </td>
                    <td> {{ sngorders.time_gmt_s }}  </td>
                    <td> {{ sngorders.time_gmt_e }}  </td>
                    <td> {{ sngorders.cameraman }}  </td>
                    <td> {{ sngorders.tech }}  </td>
                    <td> {{ sngorders.driver }}  </td>
                    <td> {{ sngorders.camera }}  </td>
                    <td> {{ sngorders.car }}  </td>
                    <td> {{ sngorders.note }}  </td>
                    <td>
                        <a href="{{ url_for('its.edit_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('its.delete_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
                    </tbody>
                  </table>
                 </div>
          <button class="accordion">Mar</button>
           <div class="panel">
                 <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="13%"> Date </th>
                        <th width="13%"> Client </th>
                        <th width="17%"> Engineer </th>
                        <th width="13%"> Location</th>
                        <th width="13%"> Reference </th>
                        <th width="13%"> S Time GMT </th>
                        <th width="13%"> E Time GMT </th>
                        <th width="13%"> Camera Man </th>
                        <th width="13%"> Technician </th>
                        <th width="13%"> Driver </th>
                        <th width="13%"> Camera </th>
                        <th width="13%"> Car </th>
                        <th width="13%"> Note </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                      </tr>
                    </thead>
                    <tbody>

            {% for sngorders in sngorders %}
              {% if sngorders.date.startswith('2017-03') %}
                <tr>
                    <td> {{ sngorders.date }}  </td>
                    <td> {{ sngorders.company }} </td>
                    <td> {{ sngorders.engineer }} </td>
                    <td> {{ sngorders.location }}  </td>
                    <td> {{ sngorders.reference }}  </td>
                    <td> {{ sngorders.time_gmt_s }}  </td>
                    <td> {{ sngorders.time_gmt_e }}  </td>
                    <td> {{ sngorders.cameraman }}  </td>
                    <td> {{ sngorders.tech }}  </td>
                    <td> {{ sngorders.driver }}  </td>
                    <td> {{ sngorders.camera }}  </td>
                    <td> {{ sngorders.car }}  </td>
                    <td> {{ sngorders.note }}  </td>
                    <td>
                        <a href="{{ url_for('its.edit_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('its.delete_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
                    </tbody>
                  </table>
                 </div>
          <button class="accordion">Apr</button>
           <div class="panel">
                 <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="13%"> Date </th>
                        <th width="13%"> Client </th>
                        <th width="17%"> Engineer </th>
                        <th width="13%"> Location</th>
                        <th width="13%"> Reference </th>
                        <th width="13%"> S Time GMT </th>
                        <th width="13%"> E Time GMT </th>
                        <th width="13%"> Camera Man </th>
                        <th width="13%"> Technician </th>
                        <th width="13%"> Driver </th>
                        <th width="13%"> Camera </th>
                        <th width="13%"> Car </th>
                        <th width="13%"> Note </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                      </tr>
                    </thead>
                    <tbody>

            {% for sngorders in sngorders %}
              {% if sngorders.date.startswith('2017-04') %}
                <tr>
                    <td> {{ sngorders.date }}  </td>
                    <td> {{ sngorders.company }} </td>
                    <td> {{ sngorders.engineer }} </td>
                    <td> {{ sngorders.location }}  </td>
                    <td> {{ sngorders.reference }}  </td>
                    <td> {{ sngorders.time_gmt_s }}  </td>
                    <td> {{ sngorders.time_gmt_e }}  </td>
                    <td> {{ sngorders.cameraman }}  </td>
                    <td> {{ sngorders.tech }}  </td>
                    <td> {{ sngorders.driver }}  </td>
                    <td> {{ sngorders.camera }}  </td>
                    <td> {{ sngorders.car }}  </td>
                    <td> {{ sngorders.note }}  </td>
                    <td>
                        <a href="{{ url_for('its.edit_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('its.delete_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
                    </tbody>
                  </table>
                 </div>
          <button class="accordion">May</button>
           <div class="panel">
                 <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="13%"> Date </th>
                        <th width="13%"> Client </th>
                        <th width="17%"> Engineer </th>
                        <th width="13%"> Location</th>
                        <th width="13%"> Reference </th>
                        <th width="13%"> S Time GMT </th>
                        <th width="13%"> E Time GMT </th>
                        <th width="13%"> Camera Man </th>
                        <th width="13%"> Technician </th>
                        <th width="13%"> Driver </th>
                        <th width="13%"> Camera </th>
                        <th width="13%"> Car </th>
                        <th width="13%"> Note </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                      </tr>
                    </thead>
                    <tbody>

            {% for sngorders in sngorders %}
              {% if sngorders.date.startswith('2017-05') %}
                <tr>
                    <td> {{ sngorders.date }}  </td>
                    <td> {{ sngorders.company }} </td>
                    <td> {{ sngorders.engineer }} </td>
                    <td> {{ sngorders.location }}  </td>
                    <td> {{ sngorders.reference }}  </td>
                    <td> {{ sngorders.time_gmt_s }}  </td>
                    <td> {{ sngorders.time_gmt_e }}  </td>
                    <td> {{ sngorders.cameraman }}  </td>
                    <td> {{ sngorders.tech }}  </td>
                    <td> {{ sngorders.driver }}  </td>
                    <td> {{ sngorders.camera }}  </td>
                    <td> {{ sngorders.car }}  </td>
                    <td> {{ sngorders.note }}  </td>
                    <td>
                        <a href="{{ url_for('its.edit_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('its.delete_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
                    </tbody>
                  </table>
                 </div>
          <button class="accordion">Jun</button>
           <div class="panel">
                 <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="13%"> Date </th>
                        <th width="13%"> Client </th>
                        <th width="17%"> Engineer </th>
                        <th width="13%"> Location</th>
                        <th width="13%"> Reference </th>
                        <th width="13%"> S Time GMT </th>
                        <th width="13%"> E Time GMT </th>
                        <th width="13%"> Camera Man </th>
                        <th width="13%"> Technician </th>
                        <th width="13%"> Driver </th>
                        <th width="13%"> Camera </th>
                        <th width="13%"> Car </th>
                        <th width="13%"> Note </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                      </tr>
                    </thead>
                    <tbody>

            {% for sngorders in sngorders %}
              {% if sngorders.date.startswith('2017-06') %}
                <tr>
                    <td> {{ sngorders.date }}  </td>
                    <td> {{ sngorders.company }} </td>
                    <td> {{ sngorders.engineer }} </td>
                    <td> {{ sngorders.location }}  </td>
                    <td> {{ sngorders.reference }}  </td>
                    <td> {{ sngorders.time_gmt_s }}  </td>
                    <td> {{ sngorders.time_gmt_e }}  </td>
                    <td> {{ sngorders.cameraman }}  </td>
                    <td> {{ sngorders.tech }}  </td>
                    <td> {{ sngorders.driver }}  </td>
                    <td> {{ sngorders.camera }}  </td>
                    <td> {{ sngorders.car }}  </td>
                    <td> {{ sngorders.note }}  </td>
                    <td>
                        <a href="{{ url_for('its.edit_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('its.delete_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
                    </tbody>
                  </table>
                 </div>
          <button class="accordion">Jul</button>
           <div class="panel">
                 <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="13%"> Date </th>
                        <th width="13%"> Client </th>
                        <th width="17%"> Engineer </th>
                        <th width="13%"> Location</th>
                        <th width="13%"> Reference </th>
                        <th width="13%"> S Time GMT </th>
                        <th width="13%"> E Time GMT </th>
                        <th width="13%"> Camera Man </th>
                        <th width="13%"> Technician </th>
                        <th width="13%"> Driver </th>
                        <th width="13%"> Camera </th>
                        <th width="13%"> Car </th>
                        <th width="13%"> Note </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                      </tr>
                    </thead>
                    <tbody>

            {% for sngorders in sngorders %}
              {% if sngorders.date.startswith('2017-07') %}
                <tr>
                    <td> {{ sngorders.date }}  </td>
                    <td> {{ sngorders.company }} </td>
                    <td> {{ sngorders.engineer }} </td>
                    <td> {{ sngorders.location }}  </td>
                    <td> {{ sngorders.reference }}  </td>
                    <td> {{ sngorders.time_gmt_s }}  </td>
                    <td> {{ sngorders.time_gmt_e }}  </td>
                    <td> {{ sngorders.cameraman }}  </td>
                    <td> {{ sngorders.tech }}  </td>
                    <td> {{ sngorders.driver }}  </td>
                    <td> {{ sngorders.camera }}  </td>
                    <td> {{ sngorders.car }}  </td>
                    <td> {{ sngorders.note }}  </td>
                    <td>
                        <a href="{{ url_for('its.edit_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('its.delete_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
                    </tbody>
                  </table>
                 </div>
          <button class="accordion">Aug</button>
           <div class="panel">
                 <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="13%"> Date </th>
                        <th width="13%"> Client </th>
                        <th width="17%"> Engineer </th>
                        <th width="13%"> Location</th>
                        <th width="13%"> Reference </th>
                        <th width="13%"> S Time GMT </th>
                        <th width="13%"> E Time GMT </th>
                        <th width="13%"> Camera Man </th>
                        <th width="13%"> Technician </th>
                        <th width="13%"> Driver </th>
                        <th width="13%"> Camera </th>
                        <th width="13%"> Car </th>
                        <th width="13%"> Note </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                      </tr>
                    </thead>
                    <tbody>

            {% for sngorders in sngorders %}
              {% if sngorders.date.startswith('2017-08') %}
                <tr>
                    <td> {{ sngorders.date }}  </td>
                    <td> {{ sngorders.company }} </td>
                    <td> {{ sngorders.engineer }} </td>
                    <td> {{ sngorders.location }}  </td>
                    <td> {{ sngorders.reference }}  </td>
                    <td> {{ sngorders.time_gmt_s }}  </td>
                    <td> {{ sngorders.time_gmt_e }}  </td>
                    <td> {{ sngorders.cameraman }}  </td>
                    <td> {{ sngorders.tech }}  </td>
                    <td> {{ sngorders.driver }}  </td>
                    <td> {{ sngorders.camera }}  </td>
                    <td> {{ sngorders.car }}  </td>
                    <td> {{ sngorders.note }}  </td>
                    <td>
                        <a href="{{ url_for('its.edit_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('its.delete_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
                    </tbody>
                  </table>
                 </div>
          <button class="accordion">Sep</button>
           <div class="panel">
                 <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="13%"> Date </th>
                        <th width="13%"> Client </th>
                        <th width="17%"> Engineer </th>
                        <th width="13%"> Location</th>
                        <th width="13%"> Reference </th>
                        <th width="13%"> S Time GMT </th>
                        <th width="13%"> E Time GMT </th>
                        <th width="13%"> Camera Man </th>
                        <th width="13%"> Technician </th>
                        <th width="13%"> Driver </th>
                        <th width="13%"> Camera </th>
                        <th width="13%"> Car </th>
                        <th width="13%"> Note </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                      </tr>
                    </thead>
                    <tbody>

            {% for sngorders in sngorders %}
              {% if sngorders.date.startswith('2017-09') %}
                <tr>
                    <td> {{ sngorders.date }}  </td>
                    <td> {{ sngorders.company }} </td>
                    <td> {{ sngorders.engineer }} </td>
                    <td> {{ sngorders.location }}  </td>
                    <td> {{ sngorders.reference }}  </td>
                    <td> {{ sngorders.time_gmt_s }}  </td>
                    <td> {{ sngorders.time_gmt_e }}  </td>
                    <td> {{ sngorders.cameraman }}  </td>
                    <td> {{ sngorders.tech }}  </td>
                    <td> {{ sngorders.driver }}  </td>
                    <td> {{ sngorders.camera }}  </td>
                    <td> {{ sngorders.car }}  </td>
                    <td> {{ sngorders.note }}  </td>
                    <td>
                        <a href="{{ url_for('its.edit_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('its.delete_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
                    </tbody>
                  </table>
                 </div>
          <button class="accordion">Oct</button>
           <div class="panel">
                 <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="13%"> Date </th>
                        <th width="13%"> Client </th>
                        <th width="17%"> Engineer </th>
                        <th width="13%"> Location</th>
                        <th width="13%"> Reference </th>
                        <th width="13%"> S Time GMT </th>
                        <th width="13%"> E Time GMT </th>
                        <th width="13%"> Camera Man </th>
                        <th width="13%"> Technician </th>
                        <th width="13%"> Driver </th>
                        <th width="13%"> Camera </th>
                        <th width="13%"> Car </th>
                        <th width="13%"> Note </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                      </tr>
                    </thead>
                    <tbody>

            {% for sngorders in sngorders %}
              {% if sngorders.date.startswith('2017-10') %}
                <tr>
                    <td> {{ sngorders.date }}  </td>
                    <td> {{ sngorders.company }} </td>
                    <td> {{ sngorders.engineer }} </td>
                    <td> {{ sngorders.location }}  </td>
                    <td> {{ sngorders.reference }}  </td>
                    <td> {{ sngorders.time_gmt_s }}  </td>
                    <td> {{ sngorders.time_gmt_e }}  </td>
                    <td> {{ sngorders.cameraman }}  </td>
                    <td> {{ sngorders.tech }}  </td>
                    <td> {{ sngorders.driver }}  </td>
                    <td> {{ sngorders.camera }}  </td>
                    <td> {{ sngorders.car }}  </td>
                    <td> {{ sngorders.note }}  </td>
                    <td>
                        <a href="{{ url_for('its.edit_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('its.delete_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
                    </tbody>
                  </table>
                 </div>
          <button class="accordion">Nov</button>
           <div class="panel">
                 <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="13%"> Date </th>
                        <th width="13%"> Client </th>
                        <th width="17%"> Engineer </th>
                        <th width="13%"> Location</th>
                        <th width="13%"> Reference </th>
                        <th width="13%"> S Time GMT </th>
                        <th width="13%"> E Time GMT </th>
                        <th width="13%"> Camera Man </th>
                        <th width="13%"> Technician </th>
                        <th width="13%"> Driver </th>
                        <th width="13%"> Camera </th>
                        <th width="13%"> Car </th>
                        <th width="13%"> Note </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                      </tr>
                    </thead>
                    <tbody>

            {% for sngorders in sngorders %}
              {% if sngorders.date.startswith('2017-11') %}
                <tr>
                    <td> {{ sngorders.date }}  </td>
                    <td> {{ sngorders.company }} </td>
                    <td> {{ sngorders.engineer }} </td>
                    <td> {{ sngorders.location }}  </td>
                    <td> {{ sngorders.reference }}  </td>
                    <td> {{ sngorders.time_gmt_s }}  </td>
                    <td> {{ sngorders.time_gmt_e }}  </td>
                    <td> {{ sngorders.cameraman }}  </td>
                    <td> {{ sngorders.tech }}  </td>
                    <td> {{ sngorders.driver }}  </td>
                    <td> {{ sngorders.camera }}  </td>
                    <td> {{ sngorders.car }}  </td>
                    <td> {{ sngorders.note }}  </td>
                    <td>
                        <a href="{{ url_for('its.edit_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('its.delete_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
                    </tbody>
                  </table>
           </div>

           <button class="accordion">Dec</button>
           <div class="panel">
                 <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="13%"> Date </th>
                        <th width="13%"> Client </th>
                        <th width="17%"> Engineer </th>
                        <th width="13%"> Location</th>
                        <th width="13%"> Reference </th>
                        <th width="13%"> S Time GMT </th>
                        <th width="13%"> E Time GMT </th>
                        <th width="13%"> Camera Man </th>
                        <th width="13%"> Technician </th>
                        <th width="13%"> Driver </th>
                        <th width="13%"> Camera </th>
                        <th width="13%"> Car </th>
                        <th width="13%"> Note </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                      </tr>
                    </thead>
                    <tbody>

            {% for sngorders in sngorders %}
              {% if sngorders.date.startswith('2017-12') %}
                <tr>
                    <td> {{ sngorders.date }}  </td>
                    <td> {{ sngorders.company }} </td>
                    <td> {{ sngorders.engineer }} </td>
                    <td> {{ sngorders.location }}  </td>
                    <td> {{ sngorders.reference }}  </td>
                    <td> {{ sngorders.time_gmt_s }}  </td>
                    <td> {{ sngorders.time_gmt_e }}  </td>
                    <td> {{ sngorders.cameraman }}  </td>
                    <td> {{ sngorders.tech }}  </td>
                    <td> {{ sngorders.driver }}  </td>
                    <td> {{ sngorders.camera }}  </td>
                    <td> {{ sngorders.car }}  </td>
                    <td> {{ sngorders.note }}  </td>
                    <td>
                        <a href="{{ url_for('its.edit_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('its.delete_sngorders', id=sngorders.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
                    </tbody>
                  </table>
           </div>

                    <div style="text-align: center">
                  {% else %}
                    <div style="text-align: center">
                      <h3> No Sng orders have been added. </h3>
                      <hr class="intro-divider">
                  {% endif %}
                    <a href="{{ url_for('its.add_sngorders') }}" class="btn btn-default btn-lg">
                      <i class="fa fa-plus"></i>
                        Add Sng Orders</a>
                         <br>
                    <a href="{{ url_for('its.doexport_sngorders') }}" class="btn btn-default btn-lg">
                      <i class="fa fa-plus"></i>
                      Download Year Sng Orders
                    </a>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }
}
{% endblock %}