<!-- app/templates/admin/equipment/equipments.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Search| Transports{% endblock %}
{% block body %}
<div class="mainbg">
  <div class="content-section">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Search Transports</h1>
         <form class="search" method ="GET" action="search">
              <input type="text" name="query" id="query" placeholder="Search..">
            </form>
          {% if transports %}

          <hr class="intro-divider">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                    <th width="13%"> Date </th>
                    <th width="13%"> Client </th>
                    <th width="13%"> Reference No. </th>
                    <th width="13%"> Guests Count </th>
                    <th width="13%"> Guests </th>
                    <th width="13%"> Cites </th>
                    <th width="13%"> Note </th>
                    <th width="15%"> Edit </th>
                    <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for transports in transports %}
                <tr>
                  <td> {{ transports.date }}  </td>
							<td> {{ transports.company }}  </td>
							<td> {{ transports.reference }}  </td>
							<td> {{ transports.guest_counter }} </td>
                            <td> {{ transports.guest1 }}  <br>
								 {% if transports.guest2 %}
									{{ transports.guest2 }}  <br>
				  				  {% endif %}
								 {% if transports.guest3 %}
								 	{{ transports.guest3 }}  <br>
				  				  {% endif %}
								 {% if transports.guest4 %}
								 	{{ transports.guest4 }}  <br>
				  				  {% endif %}
								 {% if transports.guest5 %}
								 	{{ transports.guest5 }}  <br>
				  				  {% endif %}
								 {% if transports.guest6 %}
								 	{{ transports.guest6 }}  <br>
				  				  {% endif %}
								 {% if transports.guest7 %}
								 	{{ transports.guest7 }}  <br>
				  				  {% endif %}
								 {% if transports.guest8 %}
								 	{{ transports.guest8 }}  <br>
				  				  {% endif %}
								 {% if transports.guest9 %}
								 	{{ transports.guest9 }}  <br>
				  				  {% endif %}
								 {% if transports.guest10 %}
								 	{{ transports.guest10 }}
								 {% endif %}</td>
                            <td> {{ transports.city1 }}  <br>
								 {% if transports.city2 %}
								 	{{ transports.city2 }}  <br>
								 {% endif %}
								 {% if transports.city3 %}
								 	{{ transports.city3 }}  <br>
								 {% endif %}
								 {% if transports.city4 %}
								 	{{ transports.city4 }}  <br>
								 {% endif %}
								 {% if transports.city5 %}
								 	{{ transports.city5 }}  <br>
								 {% endif %}
								 {% if transports.city6 %}
								 	{{ transports.city6 }}  <br>
								 {% endif %}
								 {% if transports.city7 %}
								 	{{ transports.city7 }}  <br>
								 {% endif %}
								 {% if transports.city8 %}
								 	{{ transports.city8 }}  <br>
								 {% endif %}
								 {% if transports.city9 %}
								 	{{ transports.city9 }}  <br>
								 {% endif %}
								 {% if transports.city10 %}
								 	{{ transports.city10 }}
								 {% endif %} </td>
                            <td> {{ transports.note }}  </td>
                                                        <td>
                                <a href="{{ url_for('its.edit_transports', id=transports.id) }}">
                                    <i class="fa fa-pencil"></i> Edit
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('its.delete_transports', id=transports.id) }}">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            </td>

                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No Transports have been matched. </h3>
            <hr class="intro-divider">
        {% endif %}
            <a href="{{ url_for('its.list_transports') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
                Transports </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}