 {% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_freelancers %}
        Add Freelancer
    {% else %}
        Edit Freelancer
    {% endif %}
{% endblock %}
{% block body %}
<div class="mainbg">
   <div class="content-section">
     <div class="inner">
        <div class="center">
            {% if add_freelancers %}
                <h1>Add Freelancer </h1>
            {% else %}
                <h1>Edit Freelancer </h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
   </div>
</div>
{% endblock %}